#Left {
  display: flex;
  height: 100%;
  box-shadow: inset 1px 0px 0px rgba(0, 0, 0, 0.1);
  width: 25%;
  overflow: auto;
}


.left_sidebar_wrapper {
  display: flex;
  flex-direction: column;
  width: 75px;
  background-color: lightblue;
  height: 100ch;
}

#left_sidebar_top_icon {
  margin-top: 130px;
}
  
.left_sidebar_pic {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.left_sidebar_icon {
  width: 44px;
  height: 44px;
  margin: 14px;
  background: #ffffff;
  border-radius: 9999px;
  /*box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.33);*/
  cursor: pointer;
}

.notification-badge {
  position: absolute;
  display: inline-flex;
  width: 14px;
  height: 14px;
  justify-content: center;
  align-items: center;
  top: -7px;
  right: -7px;
  background: red;
  color: white;
  border-radius: 50%;
  border: solid white 1px;
  padding: 3px;
  font-size: 12px;
  font-weight: 500;
}

.left-header-container {
  display: flex;
  /* height: 62px; */
  margin: 20px 0 10px;
}
  
.left-header-logo {
  width: 45px;
  height: 45px;
  margin: 0 4px;
}

.left-header {
  margin: 0 auto;
  font-family: 'Mynerve', cursive;
  display: flex;
  align-items: center;
  font-size: 30px;
  line-height: 28px;
  background: linear-gradient(to right, #E4C6EC, #8FCFE5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.toolsbar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
}
  
.toolsbar_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background: rgba(255, 255, 255, 0.2);
  /* border-radius: 8px; */
  margin-bottom: 8px;
  border: 1px solid transparent;
  width: 95%;
}
  
.toolsbar_search {
  width: 70%;
  margin-left: 5px;
  margin-right: 10px;
  display: flex;
  border: solid 1px #DDE6ED;
  border-radius: 20px;
  padding: 5px 0;
  padding-right: 10px;
  flex-grow: 1;
}
  
.toolsbar_search textarea {
  display: flex;
  flex-grow: 1;
  outline: none;
  margin-left: 5px;
  resize: none;
  border: none;
  overflow: hidden;
}
  

.create-group-button {
  border: none;
  background: none;
}


.create-group {
  border: none;
  background: none;
  width: 2.5rem;
}

#conversations {
  height: 100%;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

#conversations::-webkit-scrollbar {
  display: none;
}

.my-conversation {
  display: flex;
  padding: 10px 10px;
  border-radius: 10px;
}

.my-conversation:hover {
  cursor: pointer;
  background-color: #F0F2FE;
  color: #6A7DF0;
}

.chosen-conversation {
  background-color: #F0F2FE;
  color: #6A7DF0;
}