#RealTimeMessage {
    display: flex;
    flex-direction: column-reverse;
}

#RealTimeMessage {
    height: 100%;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
  
#RealTimeMessage::-webkit-scrollbar {
    display: none;
}